<link rel="stylesheet" href="/css/cube.css">
<script src="/js/cube.js"></script>
<div id="experiment">
  <div id="cube">
    <div class="face one">
      <div class="face-content">1</div>
    </div>
    <div class="face two">
      <div class="face-content">2</div>
    </div>
    <div class="face three">
      <div class="face-content">3</div>
    </div>
    <div class="face four">
      <div class="face-content">4</div>
    </div>
    <div class="face five">
      <div class="face-content">5</div>
    </div>
    <div class="face six">
      <div class="face-content">6</div>
    </div>
  </div>
</div>