body{
  width:100%;
}
footer {
   border-top: 1px solid white;
   padding-bottom: 10px;
 }

 #copy{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  margin:10px 10px 0 0;
  padding:5px 10px;
 }


.hidden{
  display:none;
}
#skills > li >a{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  text-decoration: none;
  color:white;
}

.material-icons{
  float: right;
  padding-top: 2px;
}
.skill-container{
  margin: 20px 0 0 0;
  background-color:black;
  color:white;
  height: 100%;
  width:100%;
  padding: 30px 0 30px 0;
  margin-bottom: -21px;
}

.mission-container{
  /*margin: 5% 20% 0 23%;*/
  padding: 20px;
}
.skill-container a{
  color:white;
}
#mission{
  min-width:70%;
  opacity:0;
  font-size: 5em;
}
.skills-text{
  border-left: 1px solid #d0d0d0;
}

.skills-text > div{
  margin-top: -8px;
  margin-left: 20px;
}
.skill-name{
  font-size: 1.5em;
}
#skills{
  text-align: center;
}
#skills > li > a >h5:hover{
 color: #4b4b4b;
}

.skills-text > div > div > h6{
  line-height: 2;
  font-size: .8em;
}

#contact{
  border-top: 1px solid #d0d0d0;
  width:100%;
  height:400px;
  background-color: black;
}


.list-container{
  margin:5% 20% 5% 20%;
}

.blurb{
  margin-bottom: 20px;
}

.blurb > a{
  color: black;
  font-size:2.5em;
  text-decoration: underline;
}

.blurb > p {
  font-size: 1.2em;
  line-height: 1.5;
}
.blurb > span{
  font-size: .9em;
  color:#4b4b4b;
  font-weight: 700;
}

#modal1 {
  color:black;
  padding:20px;
  }
.input-row{
  height:20px;
}

#social{
  /*width:30%;*/
  /*float:right;*/
  margin: 30px 20% 0 0;
  border-top: 1px solid #d0d0d0;
}
#social a{
  margin-left: 30px;
  color:white;
  font-size: 1.2em;
}

#social td{
  padding:20px;
}
#skills td{
  padding:7px;
}
td:hover{
  background-color:#4b4b4b;
};

#social i{
  color:white;
}


#social img{
  float: right;
}
.footer-copyright{
  color:grey;
}

#summary{
  margin-top: 70px;
  font-size: 1.2em;
}
#copy{
  margin-left: -12px;
}

.short{
  border-bottom: 1px solid #bebebe;
}
#arrow{
  margin-left: 47%;
  height:5em;
  opacity:0.0;
}

.project-container{
  margin: 20px 20% 20px 20% ;
  padding:10px;
  text-align: left;
}

.project-container:hover{
  background-color:black;
  color:white;
}
.project-container a{
  color: #bebebe;
}
.project-container a:hover{
  color:white;
}
.card-links a{
  margin:0 20px 0 20px;
  text-align: center;
  font-size: 1.5em;
}

pre{
  border:1px solid black;
  border-radius: 5px;
  background:#bebebe;
  padding:10px;
}
.project-content{
  height:800px;
  width:100%;
  margin-bottom: -21px;
}

.article{
  line-height: 2em;
}
.skills-text div h6{
  line-height: 200%;
  font-size: 1.2em;
}
.footer-container{
  padding-bottom: 20px;
}
.strike-through{
  text-decoration: line-through;
}

#resume{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;
  max-height: 1100px;
}
.sandwich{
  font-size: 3em;
  margin-top: 15px;
}
#dropdown1{
  margin-top: 28px;
  margin-left: 30px;
}
.dropdown-item{
  padding:0px;
}
#dropdown1 a:hover{
  color: grey;
}
.black-text{
  font-size: 10em;
}
.dropdown-content{
  margin-top: 0px;
}

.mission-container{
  margin-top: 80px;
}
.flow{
  font-size: 6.2vw;
  padding:0px;
  padding-left:-30px;
}
