
footer {
  position:static;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   bottom:0;
   left:0;
   height:300px;
   width:100%;
   text-align: center;
   border-top: 2px solid white;
 }

 #copy{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  margin:10px 10px 0 0;
  padding:5px 10px;
 }


.hidden{
  display:none;
}
#skills > li >a{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  text-decoration: none;
  color:white;
}

.material-icons{
  float: right;
  padding-top: 2px;
}
.skill-container{
  margin: 20px 0 0 0;
  background-color:black;
  color:white;
  height: 100%;
  width:100%;
  padding: 20px 20% 20px 20%;
}

.mission-container{
  margin: 5% 20% 0 23%;
  padding: 20px;
}
.skill-container a{
  color:white;
}
#mission{
  font-size: 6em;
}
.skills-text{
  border-left: 2px solid white;
}

.skills-text > div{
  margin-top: -8px;
  margin-left: 20px;
}

#skills{
  text-align: center;
}
#skills > li > a >h5:hover{
 color: #4b4b4b;
}

.skills-text > div > div > h6{
  line-height: 2;
}

#contact{
  border-top: 2px solid white;
  width:100%;
  height:400px;
  background-color: black;
}


.list-container{
  margin:5% 20% 5% 20%;
}

.blurb{
  margin-bottom: 20px;
}

.blurb > a{
  color: black;
  font-size:2.5em;
  text-decoration: underline;
}

.blurb > p {
  font-size: 1.2em;
  line-height: 1.5;
}
.blurb > span{
  font-size: .9em;
  color:#4b4b4b;
  font-weight: 700;
}

#modal1 {
  color:black;
  padding:20px;
  }
.input-row{
  height:20px;
}

#social{
  width:30%;
  float:right;
  margin: 50px 20% 0 0;
  border-top: 1px solid white;
}
#social a{
  margin-left: 30px;
  color:white;
  font-size: 1.2em;
}

#social td{
  padding:20px;
}
#skills td{
  padding:7px;
}
td:hover{
  background-color:#4b4b4b;
};

#social i{
  color:white;
}


#social img{
  float: right;
}
.footer-copyright{
  float:left;
  color:white;
  width:35%;
  margin: 80px 0 0 15%;
  text-align: left;
}

#summary{
  font-size: 1.2em;
}
#copy{
  margin-left: -12px;
}

.short{
  border-bottom: 1px solid #bebebe;
}
#arrow{
  margin-left: 37%;
  height:5em;
  opacity:0.0;
}

.project-container{
  margin: 20px 20% 20px 20% ;
  /*border:2px solid black;*/
  padding:10px;
  text-align: left;
}

.project-container:hover{
  background-color:black;
  color:white;
}
.project-container a{
  color: #bebebe;
}
.project-container a:hover{
  font-weight: 700;
}
.card-links a{
  margin:0 20px 0 20px;
  text-align: center;
  font-size: 1.5em;
}

pre{
  border:2px solid black;
  border-radius: 5px;
  background:#bebebe;
  padding:10px;
}
.project-content{
  height:800px;
  width:100%;
}

.article{
  line-height: 2em;
}
.skills-text div h6{
  line-height: 200%;
  font-size: 1.2em;
}