<div class="project-container">
  <div class="col l6 m6 s12 project-card">
    <h4 class="card-title">MLB Division Visualizer</h4>
    <p class="description">A simple visualization tool for better understanding MLB leagues and divisions.  I've watched and played baseball most of my life but never really understood how teams are organized into divisions.  I built this simple interactive map using html, css and jquery.  I'd like to add more data to thie project but, unfortunately, most sources of up-to-date baseball stats are protected by the MLB.</p>
    <div class="card-links">
      <a  href="/projects/baseball">More</a>
      <a  href="https://github.com/yaboichrissyb/MLB-Division-Visualizer">Github</a>
    </div>
  </div>
</div>
<div class="project-container">
  <div class="col l6 m6 s12 project-card">
    <h4 class="card-title">Earshot</h4>
    <p class="description">A location-based music streaming web and mobile app.  Earshot allows users to share and discover exclusive local music by giving artists an opportunity to connect with nearby audiences, promote special events, and give back to their communities. Artists can upload a song through the web platform by selecting a location with a radius of up to 5km by simply clicking and dragging on an embedded Google map. If users are within the selected radius, the song will become available in their mobile app.</p>
    <div class="card-links">
      <a  href="https://evening-gorge.herokuapp.com">Heroku</a>
      <a  href="https://github.com/yaboichrissyb/Earshot-Readme">Github</a>
    </div>
  </div>
</div>
<div class="project-container">
  <div class="col l6 m6 s12 project-card">
    <h4 class="card-title">Nom Nom DBC</h4>
    <p class="description">A meal sharing web application created for and by Dev Bootcamp students.  Nom Nom DBC allows users to create, join, and comment on meal-share events.  It also made use of the Yummly API to help gather recipe ideas.  This app was built with Ruby using Sinatra, CSS, HTML and Javascript.</p>
    <div class="card-links">
      <a  href="#">Heroku</a>
      <a  href="https://github.com/oanhcodes/Nom-Nom-DBC">Github</a>
    </div>
  </div>
</div>
