<link rel="stylesheet" href="/css/baseball.css">
<script src="/js/baseball.js"></script>
<div class="project-content">
  <div id="map-container">
    <img id="map" src="/images/Blank_US_map_48states.svg">
    <!-- American/West -->
    <!-- Angels/Athletics/Mariners/Rangers -->
    <img class="american west team" id="seattle-mariners" src="/images/mariners.png">
    <img class="american west team" id="los-angeles-angels-of-anaheim" src="/images/angels.png">
    <img class="american west team" id="oakland-athletics" src="/images/athletics.png">
    <img class="american west team" id="texas-rangers" src="/images/rangers.png">

    <!-- American/Central-->
    <!--whitesox/indians/tigers/royals/twins-->
    <img class="american central team" id="chicago-whitesox" src="/images/whitesox.png">
    <img class="american central team" id="cleveland-indians" src="/images/indians.png">
    <img class="american central team" id="kansas-city-royals" src="/images/royals.png">
    <img class="american central team" id="detroit-tigers" src="/images/tigers.png">
    <img class="american central team" id="minnesota-twins" src="/images/twins.png">

    <!-- American/East -->
    <!--yankees/orioles/redsox/rays/bluejays-->
    <img class="american east team" id="new-york-yankees" src="/images/yankees.png">
    <img class="american east team" id="baltimore-orioles" src="/images/orioles.png">
    <img class="american east team" id="boston-redsox" src="/images/redsox.png">
    <img class="american east team" id="tampa-rays" src="/images/devilrays.png">
    <img class="american east team" id="toronto-bluejays" src="/images/bluejays.png">

    <!-- National/West -->
    <!-- diamondbacks/rockies/dodgers/padres/giants -->
    <img class="national west team" id="san-diego-padres" src="/images/padres.png">
    <img class="national west team" id="colorado-rockies" src="/images/rockies.png">
    <img class="national west team" id="arizona-diamondbacks" src="/images/diamondbacks.png">
    <img class="national west team" id="san-francisco-giants" src="/images/giants.png">
    <img class="national west team" id="los-angeles-dodgers" src="/images/dodgers.png">

    <!-- National/Central -->
    <!-- cubs/reds/astros/brewers/pirates/cardinals -->
    <img class="national central team" id="houston-astros" src="/images/astros.png">
    <img class="national central team" id="chicago-cubs" src="/images/cubs.png">
    <img class="national central team" id="cincinatti-reds" src="/images/reds.png">
    <img class="national central team" id="milwaukee-brewers" src="/images/brewers.png">
    <img class="national central team" id="st-louis-cardinals" src="/images/cardinals.png">
    <img class="national central team" id="pittsburg-pirates" src="/images/pirates.png">

    <!-- National/East -->
    <!-- braves/marlins/mets/phillies/nationals/-->
    <img class="national east team" id="atlanta-braves" src="/images/braves.png">
    <img class="national east team" id="philladelphia-phillies" src="/images/phillies.png">
    <img class="national east team" id="florida-marlins" src="/images/marlins.png">
    <img class="national east team" id="new-york-mets" src="/images/mets.png">
    <img class="national east team" id="washington-nationals" src="/images/nationals.png">
  </div>
  <div id="text-info">
    <div id="shown-info">
      <a id="american-button" class="league">American</a>
      <a id="national-button" class="league">National</a>
      <center><h6 id="team-name"></h6></center>
      <div id="division-lists-container">
        <div class="division-list" id="west">
          <h5>West Division</h5>
          <ol>
          </ol>
        </div>
        <div class="division-list" id="central">
          <h5>Central Division</h5>
          <ol>
          </ol>
        </div>
        <div class="division-list" id="east">
          <h5>East Division</h5>
          <ol>
          </ol>
        </div>
      </div>

    </div>
  </div>

</div>
