  <div class="row list-container">

    <div class="col s9 blurb">
       <a class="post-title"href="/blog/enumerables">Enumerable Cheat Sheet</a>
      <p class="post-description">Jan 30, 2016 - A reference for some of the more useful enumerable methods in Ruby.</p>
    </div>

    <div class="col s9 blurb">
       <a class="post-title"href="blog/css_positioning">CSS Positioning</a>
      <p class="post-description">Dec. 20, 2015 - In this post I dive deeper into CSS positioning properties, trying to understand them on a ceonceptual and practical level.</p>
      <span class="post-tags">2016 / client-side / server-side</span>
    </div>

</div>

  </div>

<!-- <div class="col s9 blurb">
      <a class="post-title"href="blog/TITLE">POST TITLE</a>
      <p class="post-description">June 10, 2016 - Why learning vanilla javascript is the move.  Why learning vanilla javascript is the move.  Why learning vanilla javascript is the move.</p>
      <span class="post-tags">2016 / client-side / server-side</span>
    </div> -->



