<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Get in touch</h4>
    <div class="input-field short col s6">
      <i class="material-icons  prefix">account_circle</i>
      <input placeholder="Name" id="name" type="text" class=" validate">

    </div>
    <div class="input-field short col s6">
      <i class="material-icons  prefix">email</i>

      <input placeholder="Email" id=" email" type="text" class="validate">
    </div>
    <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Message</label>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Send</a>
  </div>
</div>