<div id="modal1" class="modal">
  <div class="modal-content">
    <span><h4>Get in touch</h4><h6>(Christopher.bunkers@gmail.com)</h6></span>

    <form class="item-form" method="post" action="/email">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="email2" placeholder="Confirm Email">
      <!-- <label for="textarea1">Message</label> -->
      <textarea placeholder="Message"id="textarea1" name="message"class="materialize-textarea"></textarea>
      <input class="submit modal-action modal-close waves-effect waves-light btn" type="submit" value="Send">
    </form>
  </div>