<div class="black footer-copyright">
  <div class="container">
    <span id="summary">I'm a web developer in Chicago.<br>  I work in HTML, CSS, Javascript and Ruby.</span><br><br>
    <span id="copy">&copy; 2016 Chris Bunkers | All Rights Reserved<span>
  </div>
</div>

  <table id="social" class="col s9 bordered">
    <tbody>
      <tr>
        <td><a href="https://twitter.com/yaboi_chrissyb">twitter</a><img src="/images/twitter-box.png"></td>
      </tr>
      <tr>
        <td><a href="https://github.com/yaboichrissyb">github</a><img src="/images/github-box.png">
        </td>
      </tr>
      <tr>
        <td><a href="https://www.linkedin.com/in/cbunkers">linkedin</a><img src="/images/linkedin-box.png"></td>
      </tr>
    </tbody>
  </table>

