
<div class="container footer-container">
  <div class="row">
    <div class="col l4 offset-l1 s12">
      <p class="white-text" id="summary" >I'm a web developer in Chicago. I work in HTML, CSS, Javascript and Ruby.</p>
      <p class="white-text">© 2016 Christopher Bunkers | All Rights Reserved</p>
    </div>
    <div class="col l4 offset-l2  s12">
       <table id="social" class="bordered">
        <tbody>
          <tr>
            <td>
              <a href="https://twitter.com/yaboi_chrissyb">twitter</a>
              <img src="/images/twitter-box.png"
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://github.com/yaboichrissyb">github</a>
              <img src="/images/github-box.png">
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://www.linkedin.com/in/cbunkers">linkedin</a><img src="/images/linkedin-box.png">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


