<div class="row mission-container ">
  <div class="col s12" id="mission-statement"><h1 id="mission" class="flow-text">I develop<br>mobile and<br>web applications.</h1><br><img id="arrow" src="/images/arrow-down-bold.png"></div>
</div>


<div class="row skill-container">
  <div class="col s12  l2 offset-l2">
    <table id="skills" class="bordered">
      <tbody>
        <tr>
          <td><a class="front-text" href = "/"><h6 class="skill-name">FRONT-END</h6></a>
          </td>
        </tr>
        <tr>
          <td><a class="full-text" href = "/"><h6 class="skill-name">FULL-STACK</h6></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col s12 l6 offest-l2  skills-text">
    <div class="active flow-text front-text">
      <div><h3>Front-End Development</h3><h6>I develop responsive websites and mobile applications using HTML, CSS and Javascript.  I've begun exploring frameworks such as AngularJS, React and Ionic while continuing to learn and code in modern Javascript with jQuery and AJAX.</h6>
      </div>
    </div>
    <div class="hidden flow-text full-text">
      <div><h3>Full-stack Development</h3><h6>I do full-stack work in Ruby on Rails and Sinatra with PostgreSQL.  I'm familiar with the Google Maps API family as well as AWS, Geocoder and other useful Ruby libraries.</h6></div>
    </div>
  </div>

</div>



