<div class="row mission-container ">
  <div class="col s12" id="mission-statement">
    <h1 id="mission" class=" flow-text">
      <div class="row">
        <div id="I-develop"class="flow col s11 m9 l9 offset-s1 offset-m3 offset-l3">I develop</div>
        <div class="flow col s11 m9 l9 offset-s1 offset-m3 offset-l3">mobile and</div>
        <div class="flow col s11 m9 l9 offset-s1 offset-m3 offset-l3">web applications.</div>
      </div>
    </h1><br>
    <div class="row">
      <img id="arrow" src="/images/arrow-down-bold.png">
    </div>
  </div>
</div>


<div class="row skill-container">
  <div class="section-header col s6 offset-s3 m6 offset-m5 l2"><img class="heading-image" src="/images/code.png"><span class="heading-text">I code.</span></div>
  <div class="col s12  m2 l2 offset-m1 offset-l1">
    <table id="skills" class="bordered">
      <tbody>
        <tr>
          <td><a class="front-text" href = ""><h6 class="skill-name">FRONT-END</h6></a>
          </td>
        </tr>
        <tr>
          <td><a class="full-text" href = ""><h6 class="skill-name">FULL-STACK</h6></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col s12 m8 l6 skills-text">
    <div class="active flow-text front-text">
      <div><h3>Front-End Development</h3><h6>I develop responsive websites and mobile applications using HTML, CSS and Javascript.  I've begun exploring frameworks such as AngularJS, React and Ionic while continuing to learn and code in modern Javascript with jQuery and AJAX.</h6>
      </div>
    </div>
    <div class="hidden flow-text full-text">
      <div><h3>Full-stack Development</h3><h6>I do full-stack work in Ruby on Rails and Sinatra with PostgreSQL.  I'm familiar with the Google Maps API family as well as AWS, Geocoder and other useful Ruby libraries.</h6></div>
    </div>
  </div>

  <div class="row">
    <div class="col s12  m10 l8 offset-m1 offset-l3" id="skills-bars">
      <div class="skillbar clearfix " data-percent="70%">
        <div class="skillbar-title" style="background: #ac1301;"><span>Ruby</span></div>
        <div class="skillbar-bar" style="background: #d61700;"></div>
        <div class="skill-bar-percent">0</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="70%">
        <div class="skillbar-title" style="background: #f8dc3d;"><span>JavaScript</span></div>
        <div class="skillbar-bar" style="background: #ffe64f;"></div>
        <div class="skill-bar-percent">0</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="70%">
        <div class="skillbar-title" style="background: #2c3e50;"><span>jQuery</span></div>
        <div class="skillbar-bar" style="background: #445f7a;"></div>
        <div class="skill-bar-percent">0</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="80%">
        <div class="skillbar-title" style="background: #e44d26;"><span>HTML5</span></div>
        <div class="skillbar-bar" style="background: #f16529;"></div>
        <div class="skill-bar-percent">0</div>
      </div> <!-- End Skill Bar -->

      <div class="skillbar clearfix " data-percent="70%">
        <div class="skillbar-title" style="background: #2162af;"><span>CSS3</span></div>
        <div class="skillbar-bar" style="background: #369cd6;"></div>
        <div class="skill-bar-percent">0</div>
      </div> <!-- End Skill Bar -->
    </div>
  </div>
</div>

<div class="row" id="about-me">
  <div class="col s2  m2 l2  offset-m1 offset-l1">
    <img id="pixelme" src="/images/pixelme.png">
  </div>
  <div class="col s9 offset-s1 m8 l8">
    <h5 class="flow-text about-me-text">...and I also do other stuff. I studied economics in Uganda. I taught English in Shanghai. I play the drums, travel, run, cook, and read. I like sci-fi books and avocados, exclusively. I'm happiest and most fulfilled working creatively with others but I do like to work by myself, sometimes.</h5>
  </div>
</div>
<div id="about-me-skills" class="row">
  <div class="star-row">
    <span class="star-name col s3 m2 l2 offset-m1 offset-l3">Countries traveled to</span>
    <div data-number="30" class="star-container col s8 m7 l5">|
    </div>
    <span class="star-number col s1 m2 l1">0</span>
  </div>
  <div class="col s12 m10 offset-m1 l8 offset-l3 divider"></div>
  <div class="star-row">
    <span class="star-name col s3 m2 l2 offset-m1 offset-l3">Bands belonged to</span>
    <div data-number="12" class="star-container col s8 m7 l5">|
    </div>
    <span class="star-number col s1 m2 l1">0</span>
  </div>
  <div class="col s12 m10 offset-m1 l8 offset-l3 divider"></div>
  <div class="star-row-decimal">
    <span class="star-name col s3 m2 l2 offset-m1 offset-l3">Albums recorded</span>
    <div data-number="3.5" class="star-container col s8 m7 l5">|
    </div>
    <span class="star-number col s1 m2 l1">0</span>
  </div>
  <div class="col s12 m10 offset-m1 l8 offset-l3 divider"></div>
  <div class="star-row-decimal">
    <span class="star-name col s3 m2 l2 offset-m1 offset-l3">Avocados eaten daily</span>
    <div data-number="1.5" class="star-container col s8 m7 l5">|
    </div>
    <span class="star-number col s1 m2 l1">0</span>
  </div>
</div>



