<div class="row mission-container ">
  <div class="col s12" id="mission-statement"><h1 id="mission">I develop<br>mobile and<br>web applications.</h1><br><img id="arrow" src="/images/arrow-down-bold.png"></div>
  <h1></h1>
</div>


<div class="row skill-container">
  <table id="skills" class="col s3 bordered">
    <tbody>
      <tr>
        <td><a class="front-text" href = "/"><h5>FRONT-END</h5></a>
        </td>
      </tr>
      <tr>
        <td><a class="full-text" href = "/"><h5>FULL-STACK</h5></a>
        </td>
      </tr>
    </tbody>

  </table>

  <div class="col s9 skills-text">
    <div class="active front-text">
      <div><h1>Front-End Development</h1><h6>I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.</h6>
      </div>
    </div>
    <div class="hidden full-text">
      <div><h1>Full-stack Development</h1><h6>I do full-stack work in Ruby on Rails.</h6></div>
    </div>
  </div>

</div>



