<div class="row mission-container ">
  <div class="col s12" id="mission-statement"><h1 id="mission">I develop<br>mobile and<br>web applications.</h1></div>
</div>

<div class="row skill-container">
  <div class="col s3">
    <ul id="skills">
      <li>
        <a class="front-text" href = "/"><h5>FRONT-END</h5></a>
      </li>
      <div class="divider"></div>
      <li>
        <a class="full-text" href = "/"><h5>FULL-STACK</h5></a>
      </li>
    </ul>
  </div>

  <div class="col s9 skills-text">
    <div class="active front-text">
      <div><h1>Front-End Development</h1><h6>I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.  I do front-end work in Javascript.</h6>
      </div>
    </div>
    <div class="hidden full-text">
      <div><h1>Full-stack Development</h1><h6>I do full-stack work in Ruby on Rails.</h6></div>
    </div>
  </div>

</div>



